.App{
    height: 100vh;
    background-color: black;
}

.point{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
}
.undo{
    z-index: 10;
}